# Node dependencies
node_modules/


# WhatsApp Web.js auth sessions and cache
.wwebjs_auth/
.wwebjs_cache/

# Local configuration and broadcast history
config.json
sent_history.json

# User uploads and logs
public/uploads/
*.log

# Cloudflare binaries
cloudflared.exe
cloudflared-windows-amd64.msi

